.bg-light{
    background-color: var(--background-color) !important;
    color: white;
    /* position: relative; */
    z-index: 0;
}

.accent-color {
    color: var(--accent-color);
}
h1 {
    font-size: 48px;
    font-weight: bold;
}
.brush1 {
    position: relative;
    display: inline-block;
    padding: 5px 0px;
    width: 100%;
}
.brush1::before {
    content: "";
    background: url(../../image/brush1.png) no-repeat center;
    background-size: contain;
    position: absolute;
    width: 110%;
    height: 100%;
    top: 0;
    left: -5%;
    z-index: -1;
    opacity: 0.8;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.fadeInRight {
    animation-name: fadeInRight;
}
.card-track {
    transition: all 0.5s ease;
}
.card-track  img{
    aspect-ratio: 1 / 1;
    width: 100% !important;
    max-width: 100%;
    height: auto;
    
}

.card-trac img{
    width: 100%;
}

.card-trac{
    overflow: hidden;
}
.track-blur{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transition: 5.3s;
    background: rgba(24, 21, 24, 0.3);
    border: 1px solid rgba(207, 171, 130, 0.2);
    backdrop-filter: blur(17.5px);
    opacity: 0;
    height: 74%;
    overflow: hidden;
    text-align: center;
    justify-content: center;
}
.track-blur:hover{
    opacity: 100%;
    animation: slideInr 0.5s ease forwards;
    top: 0;
}
@keyframes slideInr {
  0% {
    transform: translateY(-200px); /* التحرك من أعلى */
    opacity: 0;
    top: 0;
  }
  100% {
    transform: translateY(0); /* العودة إلى الموضع الأصلي */
    opacity: 1;   
    top: 0;
  }
}
.sty{
    display: flex;
    align-items: center;
    justify-content: center;
}
.st .btn-accent-underline:hover {
    color: white;
    z-index: 1;
    background-color: transparent;
    border: 1px solid var(--accent-color);
}
.st .btn-accent-underline {
    background: var(--accent-color) ;
    color: var(--primary) ;
    transition: all 1.0s ;
    border: 1px solid transparent ;
    overflow: hidden ;
    padding: 10px 15px 10px 15px ;
    border-radius: 0px ;
    font-size: 17px;
    font-weight: bold;
}

/* swiper*/


/* .logo-swiper  .swiper-slide .swiper-slide-active .swip{
    width:00px !important;
} */
.logo-swiper .swiper-slide{
    width: 300px !important;
    margin-right: 20px !important;
    padding: 0 !important;
    margin: 0 !important;
}
.logo-swiper .swiper {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% ;
    padding: 0px !important;
}




.logo-swiper{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding-top: 20px;
    align-items: center;
}
.logo-swiper img{
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    max-width: 50%;
}
.swiper-button-next ,.swiper-button-prev{
    display: none !important;
}
.swiper-pagination-bullet{
    display: none !important;
}