.banner{
    padding-top: 100px;
    color: white;
    position: relative;
}

.banner  .s .row{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.banner  .banner-ba::before{
    background:url(../../image/photo-24.jpg)  ;
    /* --background-overlay: '';  */
    opacity: 80% ;
    position: absolute;
    width: 100% ;
    height: 100% ;
    content: "";
    z-index: -1;
    background-position: center center !important;
    background-size: cover !important;
}
.banner  .banner-ba::after{
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    background-image: linear-gradient(180deg, #181518 0%, #8A715A 100%) !important;
    z-index: -1;
    opacity: 50%;
}
.banner-ba{
    display: flex;
    position: relative;
    min-height: 60vh;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(180deg, #181518 0%, #8A715A 100%) !important;
    text-align: center;
    align-items:end;
    z-index: 1;
}
.banner-ba .h{
    background-color: #00000094;
    position: relative;
}
.banner-ba .h h1{
    font-weight: bold;
    font-size: 80px;
    line-height: 110px;
    padding: 10px;
}
.banner-ba .h p{
    display: flex;
    text-align: center;
    justify-content: center;
}
.banner-ba .h a{
    color: var(--accent-color);
    text-decoration: none;
}
.banner-ba .h a:hover{
    color: white;
}
.banner-ba .text{
    display: flex;
    justify-content: space-between;
    text-align: start;
    padding-bottom: 20px;
    position: relative;
}
.text svg{
    padding-right: 10px;
    font-size: 17px;
}
.banner-ba .text .phone{
    color: var(--accent-color);
}
@media (max-width:555px) {
    .h h1{
        font-size: 50px !important;
    }
}