:root {
  --primary: #181518;
  --text-color: #F4F4F4;
  --text-color-2: #B5B5B5;
  /* --background-color: #231F20; */
  background-color: #181518;
  --accent-color: #CFAB82;
  --accent-color-2: #8A715A;
  --accent-color-3: #38373C;
  --accent-color-4: #151315;
  --font-1: "Source Sans 3", sans-serif;
  --font-2: "Open Sans", sans-serif;
}
body{
  background-color: var(--background-color) !important;
}
.py-5 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
.row{
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (max-width: 600px){
  h1,h2,h3,h4,h5,h6{
    font-size: 100% !important;
  }
}